# Ignore node modules and lock files
node_modules/
yarn.lock

# Ignore config and environment files
.vscode/

# Ignore src and test files
src/
tests/
setupTests.ts

# Ignore documentation files
README.md
LICENSE

# Ignore configuration files that are only for development
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc
prettier.config.js
vite.config.ts
tsconfig.json
vitest.config.ts

# Ignore Git and other version control files
.git/
.github/
.gitignore
.husky/