[data-theme='light'] {
    --ifm-color-primary: #c242ff;
    --ifm-color-primary-dark: #c344ff;
    --ifm-color-primary-darker: #c345ff;
    --ifm-color-primary-darkest: #c448ff;

    --ifm-color-primary-light: #c64eff;
    --ifm-color-primary-lighter: #c64eff;
    --ifm-color-primary-lightest: #ca5aff;
}

/*
* This selector will be dynamically replaced by the color generator. Don't put
* other properties here.
*/
[data-theme='dark'] {
    --ifm-color-primary: #c64eff;
    --ifm-color-primary-dark: #ca5aff;
    --ifm-color-primary-darker: #d272ff;
    --ifm-color-primary-darkest: #da8aff;

    --ifm-color-primary-light: #e1a1ff;
    --ifm-color-primary-lighter: #e1a1ff;
    --ifm-color-primary-lightest: #e1a1ff;
}
